<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
    <!-- app/views/welcome/index.html.erb -->
    <div id="tabla-container" data-table-data=<%= @table_data.to_json.html_safe %>></div>
    <!--
    <%= javascript_tag do %>
        console.log('Table Data:', document.getElementById('tabla-container').dataset.tableData);
    <% end %>
    -->

<body>
    <div class="container">
        <h1>Registro</h1>
    </div>
    <!-- app/views/welcome/index.html.erb -->
    <div id="tabla-container"></div>
</body>
</html>